body{
    color:white;
    margin: 0;
    padding: 0;
}

#main{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#top{
    display: flex;
    position: relative;
    padding-top: 25px;
}

#top span{
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
}

#top input{
    background: transparent;
    border:transparent;
    border-bottom: 1px solid white;
    cursor: pointer;
    color: white;
    font-size: 30px;
    outline: none;
}

.Google{
    background: rgb(98, 131, 231);
    border-radius: 30px;
    padding-left: 7px;
    padding-right: 7px;
}

.Naver{
    background: rgb(7, 179, 93);
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

.hidden{
    display: none;
}

.through-line{
    text-decoration: line-through;
    opacity: 40%;
    color: darkgrey;
}

.heart{
    color: red;
}

.bigger{
    font-size: 20px;
}

img{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(60%);
    z-index: -999;
}

li{
    list-style-type: none;
}

#clock{
    font-size: 150px;
    margin: 0;
    margin-bottom: -50px;
}

#login-form{
    margin-top: 30px;
}

#main input{
    background: transparent;
    border:transparent;
    border-bottom: 1px solid white;
    font-size: 30px;
    text-align: center;
    color: white;
    outline: none;
}

#greeting{
    font-size: 50px;
}

#todo-form{
    margin-top: -20px;
}

#todo-list{
    position: relative;
    padding: 0;
    width: 400px;
    height: 150px;
    overflow: auto;
    text-align: center;
}

#todo-list::-webkit-scrollbar{
    display: flex;
    flex-direction: row-reverse;
    width: 5px;
}

#todo-list::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
}

#todo-list::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

#quotes{
    position: absolute;
    font-size: 20px;
    bottom: 5%;
    opacity: .7;
}

span{
    cursor: pointer;
}

button{
    background: transparent;
    color:white;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#weather{
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 20px;
}

#weather span{
    display: block;
    text-align: right;
}


